In [1]:
# import mysql.connector

# conn=mysql.connector.connect(host="localhost",user="root",passwd="1234",database="students_names")

# cur=conn.cursor()

# cur.execute("creat table students(number int primary key,no int,id int,name vachar(30),score int)")
# conn.close()

In [2]:
# import mysql.connector
# import xlrd

# conn=mysql.connector.connect(host="localhost",user="root",passwd="1234",database="students_names")

# cur=conn.cursor()

# loc=("D:\\2-2563\\project\\2\\projectII\\book.xlsx")

# a=xlrd.open_workbook(loc)           

# sheet=a.sheet_index(0)

# sheet.cell_value(0,0)

# for i in range(1,36):
#     print(sheet.row_values(i))

# conn.close()

In [4]:
# import xlrd
# import MySQLdb

# # Open the workbook and define the worksheet
# book = xlrd.open_workbook("pytest.xls")
# sheet = book.sheet_by_name("source")

# # Establish a MySQL connection
# database = MySQLdb.connect (host="localhost", user = "root", passwd = "", db = "mysqlPython")

# # Get the cursor, which is used to traverse the database, line by line
# cursor = database.cursor()

# # Create the INSERT INTO sql query
# query = """INSERT INTO orders (product, customer_type, rep, date, actual, expected, open_opportunities, closed_opportunities, city, state, zip, population, region) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

# # Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
# for r in range(1, sheet.nrows):
# 		product		= sheet.cell(r,).value
# 		customer	= sheet.cell(r,1).value
# 		rep			= sheet.cell(r,2).value
# 		date		= sheet.cell(r,3).value
# 		actual		= sheet.cell(r,4).value
# 		expected	= sheet.cell(r,5).value
# 		open		= sheet.cell(r,6).value
# 		closed		= sheet.cell(r,7).value
# 		city		= sheet.cell(r,8).value
# 		state		= sheet.cell(r,9).value
# 		zip			= sheet.cell(r,10).value
# 		pop			= sheet.cell(r,11).value
# 		region	= sheet.cell(r,12).value

# 		# Assign values from each row
# 		values = (product, customer, rep, date, actual, expected, open, closed, city, state, zip, pop, region)

# 		# Execute sql Query
# 		cursor.execute(query, values)

# # Close the cursor
# cursor.close()

# # Commit the transaction
# database.commit()

# # Close the database connection
# database.close()

# # Print results
# print ""
# print "All Done! Bye, for now."
# print ""
# columns = str(sheet.ncols)
# rows = str(sheet.nrows)
# print "I just imported " %2B columns %2B " columns and " %2B rows %2B " rows to MySQL!"

In [5]:
# import pymysql
# pymysql.install_as_MySQLdb()
# import MySQLdb
# import xlrd

In [6]:
# pip install pymysql
# xlrd.xlsx.ensure_elementtree_imported(False, None)
# xlrd.xlsx.Element_has_iter = True

In [7]:
# database = MySQLdb.connect (host="localhost" , user="root" , passwd="1234" ,db="mysql")
# cursor = database.cursor()

In [8]:
# product_details_table = ("CREATE TABLE IF NOT EXISTS product_details(no int,st_id int,name text,score varchar(255), PRIMARY KEY (st_id))")

In [9]:

# cursor.execute(product_details_table)

0

In [10]:

# excel_sheet = xlrd.open_workbook('book1.xlsx')
# excel_sheet

In [11]:
# sheet_name = excel_sheet.sheet_names()
# sheet_name

['Sheet1']

In [12]:
# insert_query = "INSERT INTO product_details (no int,st_id int,name text,score varchar(255), PRIMARY KEY (st_id)) VALUES (%s,%s,%s,%s)"

In [14]:
# for sh in range(0,len(sheet_name)):
#     sheet= excel_sheet.sheet_by_index(sh)
    

#     for r in range(1,sheet.nrows):
#         no = sheet.cell(r,0).value
#         st_id = sheet.cell(r,1).value
#         name = sheet.cell(r,2).value

#         score = sheet.cell(r,3).value
     
#         product_rating = sheet.cell(r,3).value
      
       
#         product_details_value = (no,st_id,name,score,)
        
        
#         cursor.execute(insert_query,product_details_value)
#         database.commit()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'int,st_id int,name text,score varchar(255), PRIMARY KEY (id)) VALUES (0.0e0,1.0e' at line 1")